@model BaseViewModel

@{
	ViewData["Title"] = "Create Category";
}

<div class="row  h-100 d-flex justify-content-center align-content-center mt-5">
	<div class="card border-info rounded-4 overflow-hidden col-md-4">
		<h1 class="text-center mt-2">Create Category</h1>
		<hr />
		@if (Model.IsCreated)
		{
			<h3 class="text-success text-center mt-2">
				The Category has been created successfully
				<i class="bi bi-check-circle"></i>
			</h3>
			<hr />
		}
		<form asp-action="Create">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group mb-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group mb-3 text-center">
				<input type="submit" value="Create" class="btn btn-outline-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
